<div class="container">
    <h2>Gestión de Usuarios y Reservas</h2>
    <table mat-table [dataSource]="users" class="mat-elevation-z2">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let user"> <strong>{{ user.username }}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Rol</th>
          <td mat-cell *matCellDef="let user">
            <span class="role-badge" [ngClass]="user.role.toLowerCase()">{{ user.role }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="tickets">
            <th mat-header-cell *matHeaderCellDef>Entradas</th>
            <td mat-cell *matCellDef="let user">
                <div *ngIf="user.reservations && user.reservations.length > 0; else noTickets">
                <span class="badge-tickets">{{ user.reservations.length }} tickets</span>
                <br>
                <small class="text-muted">{{ getEventTitles(user) }}</small>
                </div>
                <ng-template #noTickets>
                <span class="text-muted">Sin entradas</span>
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let user">
            <button mat-button color="primary" *ngIf="user.role !== 'Admin'" (click)="promote(user.id)">Promover</button>
            <button mat-icon-button color="warn" (click)="remove(user.id)">🗑️</button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    
    <mat-paginator [length]="total" [pageSize]="limit" (page)="onPageChange($event)"></mat-paginator>
</div>