<footer class="footer">

  <div class="footer-container">

    <div class="footer-left">
      <span class="footer-logo">🎟️ EventReservations</span>
      <p class="footer-description">
        Plataforma para gestionar reservas de eventos de forma simple y segura.
      </p>
    </div>

    <div class="footer-links">
      <a routerLink="/">Eventos</a>
      <a routerLink="/my-reservations">Mis Reservas</a>
    </div>

  </div>

  <div class="footer-bottom">
    © 2024 EventReservations — Matías Aquino
  </div>

</footer>